<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>People</key>
		<array>
			<dict>
				<key>longitude</key>
				<real>-122.1741</real>
				<key>latitude</key>
				<real>37.428</real>
				<key>uid</key>
				<integer>0</integer>
				<key>first_name</key>
				<string>JC</string>
				<key>last_name</key>
				<string>Penny</string>
				<key>email</key>
				<string>foustjc@gmail.com</string>
				<key>groups</key>
				<array>
					<integer>0</integer>
				</array>
				<key>privateMaps</key>
				<array/>
			</dict>
			<dict>
				<key>longitude</key>
				<real>-122.1584</real>
				<key>latitude</key>
				<real>37.4286</real>
				<key>uid</key>
				<integer>1</integer>
				<key>first_name</key>
				<string>Adam</string>
				<key>last_name</key>
				<string>Rothman</string>
				<key>email</key>
				<string>rothman.adam@gmail.com</string>
				<key>groups</key>
				<array>
					<integer>0</integer>
				</array>
				<key>privateMaps</key>
				<array/>
			</dict>
		</array>
		<key>Maps</key>
		<array>
			<dict>
				<key>mapPins</key>
				<array>
					<dict>
						<key>uid</key>
						<integer>1</integer>
						<key>expiration</key>
						<date>1991-06-07T10:00:00Z</date>
						<key>imgURL</key>
						<string>http://2.bp.blogspot.com/-fkX3Bgu2RX0/Tf7q3YJEjxI/AAAAAAAAAGg/95MWPRX23uQ/s320/jacksparrow.jpg</string>
						<key>longitude</key>
						<real>-122.17954</real>
						<key>location_name</key>
						<string>Tortuga</string>
						<key>latitude</key>
						<real>37.424835</real>
						<key>summary</key>
						<string>Where rum goes to die.</string>
						<key>events</key>
						<array>
							<dict>
								<key>expiration</key>
								<date>2012-06-15T06:07:39Z</date>
								<key>imgURL</key>
								<string>http://www.mericler.de/neustart/wp-content/uploads/2010/11/hegarty.png</string>
								<key>uid</key>
								<integer>0</integer>
								<key>summary</key>
								<string>Because we do it better.</string>
								<key>name</key>
								<string>CS193p Party</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>uid</key>
						<integer>0</integer>
						<key>expiration</key>
						<date>1991-06-07T10:00:00Z</date>
						<key>imgURL</key>
						<string>https://lh6.googleusercontent.com/-3PZg6SWxTkY/TjgqYAlZbCI/AAAAAAAAy9Y/0VGPEOWnqlw/s250-c-k/30042010%2B040.JPG</string>
						<key>longitude</key>
						<real>-122.1793</real>
						<key>location_name</key>
						<string>The Farm</string>
						<key>latitude</key>
						<real>37.42477</real>
						<key>summary</key>
						<string>Stanford University</string>
						<key>events</key>
						<array/>
					</dict>
				</array>
				<key>uid</key>
				<integer>0</integer>
				<key>mapType</key>
				<integer>0</integer>
				<key>name</key>
				<string>Public</string>
				<key>summary</key>
				<string>Open to everyone.</string>
			</dict>
		</array>
		<key>Groups</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>0</integer>
				<key>name</key>
				<string>Public</string>
				<key>summary</key>
				<string>Open to everyone.</string>
				<key>sharedMaps</key>
				<array/>
				<key>members</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
